h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.listaCursos {
  width: 75%;
  background-color: aliceblue;
  float: inline-end;
  margin: auto;
}

.curso {
  max-width: 340px;
  height: 300px;

  padding: 20px;
  margin: 20px;

  text-align: left;
  float: left;

  border-color: coral;
  border-style: groove;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
  background-color: rgb(46, 49, 56);
}
.curso h2 {
  color: yellowgreen;
}

.curso p {
  font-family: Arial, Helvetica, sans-serif;
}

.curso button {
  display: block;
  margin: auto;
  padding: 10px 100px;
}

.formulario {
  min-width: 340px;
  max-height: 400px;

  padding: 20px;
  margin: 20px;

  text-align: center;
  float: left;

  border-color: chartreuse;
  border-style: dotted;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
  background-color: rgb(41, 49, 56);
}
.formulario h2 {
  margin-bottom: 0%;
  color: chartreuse;
}

.formulario p {
  margin: 4px 0px;
}
.formulario button {
  display: block;
  margin: auto;
  padding: 10px 100px;
}

.num {
  margin-bottom: 23px;
}
