<h1>Cursos que actualmente Tomo:</h1>

<div class="listaCursos">
  <h3 *ngIf="courses.length === 0">
    Porque no tienes ningun curso? Deberias estar haciendo un curso 🤨😐😑🙄
  </h3>
  <div *ngFor="let course of courses; index as i">
    <div class="curso">
      <h2>{{ course.name }}</h2>
      <p>Profesor: {{ course.professor }}</p>
      <p>Plataforma de estudio: {{ course.platform }}</p>
      <p>Numero de clase en la voy: {{ course.chekPointClass }}</p>
      <!-- <p>{{ course.toDoToday }}</p> -->

      <a>Estudie hoy? </a>
      <!-- <input type="checkbox" /> -->
      <button (click)="deleteCourse(i)">Eliminar</button>
    </div>
  </div>

  <div class="formulario">
    <h2>Agrega un nuevo curso</h2>
    <p>Curso:</p>
    <input [(ngModel)]="curso" type="text" />

    <p>Profesor:</p>
    <input [(ngModel)]="profesor" type="text" />

    <p>Plataforma:</p>
    <input [(ngModel)]="plataforma" type="text" />

    <p>Clase en la que estoy:</p>
    <input [(ngModel)]="chekP" class="num" type="number" min="0" max="100" />

    <button
      *ngIf="
        profesor == '' || curso === '' || plataforma === '' || chekP == 0;
        else elseBlock
      "
      disabled
    >
      Añadir
    </button>

    <ng-template #elseBlock>
      <button (click)="addCourse()">Añdir</button>
    </ng-template>
  </div>
</div>
